body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  width: 50vh;
  height: 50vh;
  display: flex;
  border: solid 1px gray;
}

.cell-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: auto;
}

.cell-row {
  display: flex;
  flex: 1;
  /* border: solid 1px darkgray; */
  padding: auto;
}

.change {
  background-color: gray;
}
